@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Libertus Mono", sans-serif;
}

body{
    background-color: rgb(231, 231, 231);
}

#mainnavbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgb(87, 87, 87);
    position: fixed;
}


#home{
    text-decoration: none;
    color: black;
    padding-top: 25px;
}
#contact{
    text-decoration: none;
    color: black;
    padding-top: 25px;
}
#about{
    text-decoration: none;
    color: black;
    padding-top: 25px;
}
#mainnavbar img{
   width: 150px; 
}

#sign{
    border: none;
    background-color: black;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    font-weight: 700;
    color: white;
    transition: 0.4s;
    border-radius: 5px;

}
#sign a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
#button{
    padding-top: 10px;
}


#sign a:hover{
    
    color: black;
}

#sign:hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 55px;
}




#pics{
    padding-top: 200px;
    
}

#welcome{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#wlcmtxt{
    
    width: 1000px;
}
#burj{
    width: 300px;
    padding-left: 90px;

}